*.n
*.o
*~
Makefile
config.log
config.status
configure.lineno
library/pkgIndex.tcl
man/*.n
man/*.3
src/*.so
src/*.dylib
src/bltsh*
src/bltwish*
src/config.h
src/libBLT*
src/shared/bltsh*
src/shared/bltwish*
src/shared/libBLT*
